<div id="global-wrapper">
  <div id="global">
    <span id="global-logo">
      <span class="title"><%= image_tag("/images/arrivu_logo.png" ,:style=>"width: 89px;") %></span>

    </span>
  </div>
</div>
